*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-source-sans-3;
  overflow-x: hidden;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}
