// variables
$color-main: #bea67c;
$color-light: #fff;
$color-dark: #000;

$font-source-sans-3: "Source Sans 3", serif;
$font-settings-black: 'wght' 900, 'ital' 0;
$font-settings-semibold: 'wght' 500, 'ital' 0;
$font-settings-semibold-italic: 'wght' 500, 'ital' 1;
$font-settings-bold: 'wght' 700, 'ital' 0;
$font-settings-regular: 'wght' 400, 'ital' 0;