// variables
$color-main: '#bea67c';
$color-white: '#fff';
$color-black: '#000';

$font-black: 'Source Sans Pro Black';
$font-semibold: 'Source Sans Pro Semibold';
$font-semibold-italic: 'Source Sans Pro Semibold Italic';
$font-bold: 'Source Sans Pro Bold';
$font-regular: 'Source Sans Pro Regular';